@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

/* FONTS STYLING */

* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* NAV STYLING */

nav {
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    padding: 1rem 2rem;
}