@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Figtree", sans-serif;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screenreader {
  display: none;
}

.hidden {
  visibility: hidden;
  max-height: 0;
}

.titlebg{
  background-repeat: repeat;
  background-image: url(images/titlebg.png);
}

.full {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.centerPg {
  align-items: center;
  justify-content: center;
}

.column-arr {
  flex: 1;
  width: 50%;
}

.right-column-arr {
  flex: 1; 
  display: flex;
  justify-content: flex-end; 
  
}

.darkbg {
  background-color: #17212E;
  color: #fff;
}

.margins {
  margin: 5rem;
}

/* CSS FOR HEADER STYLING */

.infoTitle {
  align-items: start;
  font-size: 2rem;
  color: #99D7C3;
}

@media (min-width: 64rem) {

  .infoTitle {
    font-size: 2.5rem;
  }

}

@media (min-width: 98rem) {

  .infoTitle {
    font-size: 4rem;
  }

}

.white {
  color: white;
}

.blue {
  color: #99D7C3;
}

.em-dash::after {
  content: "—";
}

.leftBottomAlign {
  text-align: end;
  display: flex;
  align-self: flex-end;
}

.vis-container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.text-box {
  z-index: 10;
  background-color: #d8d6d6;
  padding: 1rem;
  width: 20rem;
}

.text-only p {
  max-width: 75rem;
}

.visualization {
  width: 80vw;
  height: 80vh;
  background-color: gray;
}

.temptitle {
  align-self: center;
}

.mobile-buttons {
  position: fixed;
  bottom: 1rem;
  left: calc(50% - 45%);
  display: flex;
  width: 90%;
  justify-content: space-between;
}

@media (min-width: 64rem) {
  .mobile-buttons {
    display: none;
  }
}

/* TYPE */

.main-header {
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

.secondary-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.vis-title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.vis2title {
  font-weight: 700;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

.vis-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.vis-small {
  font-size: 0.8rem;
  margin-top: 1rem;
  font-weight: 400;
}

/* VISUALIZATION 1 STYLING */

.vis-container.visualization1 {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  width: 80vw; 
}

.s3 .text-box:first-child {
  position: relative;
  top: -9rem;
  left: 20rem;
}

.s3 .text-box:last-child {
  position: relative;
  bottom: -5rem;
  left: 30rem;
}

.s4 .text-box:first-child {
  position: relative;
  top: -9rem;
  left: 20rem;
}

.s4 .text-box:last-child {
  position: relative;
  bottom: -5rem;
  left: 30rem;
}

/* VISUALIZATION 2 STYLING */

.vis-container.visualization2 {
  align-items: unset;
  display: block;
  padding: 5rem;
  max-height: 100vh;
}

#vis2title {
  margin-bottom: 2rem;
}

.vis2-container {
  display: flex;
}

.vis2-container.reverse {
  flex-direction: row-reverse;
  height: calc(100vh - 10rem);
}

.vis2-vis-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vis2-number {
  font-size: 3.5rem;
  font-weight: 600;
}

.vis2-number-big {
  font-size: 5.5rem;
  font-weight: 600;
}

.vis2-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vis2-text {
  color: #E1F8EE;
  font-size: 2.125rem;
  font-weight: 600;
}

/* VISUALIZATION 3 STYLING */

.vis-container.visualization3 {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  height: calc(100vh - 10rem);
  justify-content: flex-end;
}

.vis-main {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.vis3-vis-container {
  display: flex;
}

#vis3ContainerSupplementary {
  width: 100%;
}

#tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  pointer-events: none;
  opacity: 0; /* Initially hidden */
  z-index: 100;
}

/* VISUALIZATION 4 STYLING */

.vis-container.visualization4 {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

/* Input Container Styling */
.input-container {
  margin-top: 20px;
  text-align: left;
  font-family: Arial, sans-serif;
}

/* Label Styling */
.search-label {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
  display: block;
}

/* Search Box Styling */
.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

/* Input Field Styling */
.search-box input {
  width: 300px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #17212E;
  color: #ffffff;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
}

.search-box input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

/* Button Styling */
.search-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #49a9c9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #3b8aa0;
}

/* CONCLUSION STYLING */

#conclusion {
  display: flex;
  flex-direction: row;
  /* grid-template-columns: 2fr 1fr; */
  justify-content: space-between;
  padding: 5rem;
  width: calc(100vw - 10rem);
  /* padding-bottom: 5rem; */
  height: calc(100vh - 10rem);
}

.column {
  display: flex;
  flex-direction: column;
}

.concluding-heading {
  color: #58B7C6;
  letter-spacing: -0.05rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.concluding-paragraph {
  letter-spacing: -0.1rem;
  font-size: 4rem;
  font-weight: 700;
}

.column > img {
  max-height: calc(100vh - 10rem);
}

/* PROGRESS BAR STYLING */

#progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.8rem;
  gap: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

#progress-bar.hide {
  transform: translateY(100%);
}

.progress-item {
  flex: 1;
  height: 100%;
  position: relative;
  background: #dcdcdc15;
  cursor: pointer;
  transition: background 0.3s;
}

.progress-item:has(~ .progress-item.active) {
  background: #346269;
}

.progress-item.active {
  background: #99D7C3;
}

.progress-item:hover {
  background: #a9c2ba;
}

.progress-item span {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: #17212E;
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 3px;
  display: none;
  white-space: nowrap;
}

.progress-item:hover span {
  display: block;
}